@font-face {
    font-family: bebas neue;
    src: url(fonts/BebasNeue.otf);
format("opentype");}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 10000px;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#home-background {
    position: fixed;
    background: #222;
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu {
    position: fixed;
    width: 100%;
    left: 0%;
    top: 0%;
    height: 45px;
    z-index: 5;
    box-shadow: 0px 2px 15px rgba(0,0,0, 0.3);
}

.bar {
    display: inline-block;
    width: 100%;
    background: rgb(168, 106, 43);
    //background: rgb(149, 108, 88);;
    height: 100%;
}

.menu img {
    height: 100%;
}

#reel {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(images/reel-pattern.png);
    background-size: contain;
    opacity: 0.8;
    mix-blend-mode: overlay;
}

#screen {
    position: fixed;
    background: #4d6166;
    top:20%;
    left:22%;
    right:22%;
    bottom: 22%;
    box-shadow: 4px 4px 8px rgba(106,106,106,0.4);
    border-radius: 5px;
}

#projector {
    background: url(images/projector-animated.gif) center center no-repeat;
    background-size: contain;
    position: fixed;
    top: 27%;
    left:4%;
    height: 65%;
    width: 25%;
}

.explore-logo {
    position: absolute;
    left: 30%;
    top: 4%;
    width: 40%;
    
}

#screen-tex {
    position: absolute;
    background: url(images/grunge-texture-screen.png) repeat;
    background-size: auto;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    animation: grunge 2s infinite 
}

.projector-light {
    position: absolute;
    height:81%;
    width:60%;
    top:19.5%;
    left: 3%;
    opacity: 1;
    animation: flicker 2s infinite linear;
    transform-origin: center right;
}

@-webkit-keyframes swing {
    from {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
@-webkit-keyframes grunge {
	from {
		opacity: 1;
        left:0;
	}
	15% {
		opacity: 1;
        left: 1px;
	}
	30% {
		opacity: 0.5;
        left:2;
	}
	45% {
		opacity: 1;
        left:1;
	}
	60% {
		opacity: 0.5;
        left:2;
	}
	75% {
		opacity: 1;
        left:1;
	}
	85% {
		opacity: 0.7;
        left:2;
	}
	95% {
		opacity: 0.8;
        left:1;
	}
	to {
		opacity: 1;
        left:0;
	}
    
}

@-webkit-keyframes flicker {
	from {
		opacity: 0.5;
	}
	4% {
		opacity: 0.5;
	}
	6% {
		opacity: 0.45;
	}
	8% {
		opacity: 0.55;
	}
	10% {
		opacity: 0.45;
	}
	11% {
		opacity: 0.5;
	}
	12% {
		opacity: 0.65;
	}
	14% {
		opacity: 0.55;
	}
	16% {
		opacity: 0.70;
	}
	17% {
		opacity: 0.55;
	}
	19% {
		opacity: 0.5;
	}
	20% {
		opacity: 0.5;
	}
	24% {
		opacity: 0.5;
	}
	26% {
		opacity: 0.69;
	}
	28% {
		opacity: 0.5;
	}
	38% {
		opacity: 0.45;
	}
	40% {
		opacity: 0.5;
	}
	42% {
		opacity: 0.6;
	}
	44% {
		opacity: 0.5;
	}
	46% {
		opacity: 0.5;
	}
	56% {
		opacity: 0.5;
	}
	58% {
		opacity: 0.75;
	}
	60% {
		opacity: 0.5;
	}
	68% {
		opacity: 0.5;
	}
	70% {
		opacity: .6; /*peak*/
	}
	72% {
		opacity: 0.5;
	}
	93% {
		opacity: 0.5;
	}
	95% {
		opacity: .6; /*peak*/
	}
	97% {
		opacity: 0.5;
	}
	to {
		opacity: 0.5;
	}
}

#popcorn {
    position: absolute;
    height:25%;
    width:22.5%;
    bottom: -1%;
    right: 6%;
}

#navicon {
    position: absolute;
    top: 5px;
    height: 15%;
    margin-left:5px;
    transform: rotate(0deg);
}

#noise {
    height: 100%;
    width: 100%;
    background: url(images/noisy-texture-100x100-o73-d100-c-3e5d58-t1.png);
    opacity: 0.9;
    background-blend-mode:darken;
}


.links li {
   display: inline-block; 
    padding-left: 5px;
    font-size: 1.2em;
    letter-spacing: 2;
    color: white;
}
.links span {
    color:rgb(64,22,18);
}
.links a {
    text-decoration: none;
    color: white;
    font-family: bebas neue;

}

.links {
    position: absolute;
    bottom: 0;
    display: inline-block;
    top: 13px;
}

#left-nav-links {
    left: 20%;
}

#right-nav-links {
    right: 20%;
}

#nav-logo {
    position: absolute;
    width: 9.5em;
    height: 5em;
    margin-top: -28px;
    margin-left: 44.5%;
    display: inline-block;
}

#fest-date {
    position: absolute;
    width: 12%;
    height: 50%;
    top: -7%;
    left: 74%;
    z-index: 1;
    animation: swing 3s infinite ease-in-out;
    transform-origin: 58% 28%;
}

.curtains {
    position: fixed;
    background: url(images/curtain.svg) no-repeat;
    background-size: cover;
    width: 12%;
    height: 105%;
    top: -20px;
}

.curtain-right {
    transform: scaleX(-1);
    right: -15px;
}

.header {
    position: fixed;
    width: 100%;
    height: 15%;
    background: #555555;
    top: 0px;
    left: 0px;
}

.logo-container {
    display: inline-block;
    float: left;
    width: 50%;
    background: #666;
}

.nav-links {
    list-style: none;
    
}

.navbar {
    display: inline-block;
    width: 50%;
    
}

.curtain-left {
    float: left;
    left: -15px;
}

#past-bg {
    
    position: relative;
    background:url(images/past-bg.png) center center no-repeat fixed;
    background-size: cover;
    height:100%;
    width:100%;
}

#second-bacground {
    position:fixed;
    background: url(images/past-bg.png);
    background-size: cover;
    height: 100%;
    width:100%;
    left:0;
    top:0;
}

.theme-logo {
    position: relative;
    width: 90%;
    height: 90%;
    background: url(images/cinema-paradiso-black.png) center center no-repeat;
    background-size: contain;
    opacity: .9;
    margin: 0 auto;
    margin-top: 3%;
}

.spotlight {
    background: url(images/spotlight-2.png) center center no-repeat ;
    position: fixed;
    width: 250px;
    height: 200px;
    bottom: -10px;
    transform: scaleY(-1);
    animation: 5s flicker linear infinite;
    
}

.spotlight-left {
    left: 10%;
    transform: rotate(-145deg);
    
}

.spotlight-right {
    right: 10%;
    transform: rotate(145deg);
}

#scroll {
   margin:0 auto;
    width:100%;
    position: fixed;
    bottom:10px;
    -webkit-animation:scrollmove 2s linear infinite;
    
}

.arrow {
    margin-top: 4px;
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	
	border-top: 12px solid white;
}
@-webkit-keyframes scrollmove {
    0% {bottom: 10px;}
    50% {bottom:25px;}
    100% {bottom: 10px;}
}



.ticket-2k13 {
    background: url(images/ticket.png) center center no-repeat;
    background-size: contain;
    bottom: 10%;
    right:25%;
}

.tickets {
    position: fixed;
    height:16%;
    width:16%;
}

.ticket-2k15 {
    background: url(images/ticket2.png) center center no-repeat;
    background-size: contain;
    bottom: 12%;
    right:15%;
    transform: rotate(20deg);
}

.social-media {
    position: fixed;
    top:39%;
    left:0;
    width:40px;
    height: 200px;
    opacity: 1;
    z-index: 100;
}

.social-facebook {
    height: 30px;
    margin-top: 5px;
    display:inline-block;
}



.benny-2k13 {
    position: fixed;
    top:30%;
    left: 30%;
    height: 30%;
    width:30%;
    background: url(images/BENNY%20DYAL.png) center center no-repeat;
    background-size: contain;
}
